*{
    font-family: sans-serif;
    color: rgb(153, 153, 153);
    font-size: 18px;
  }
body {
  background-color: rgb(42, 48, 60);
  margin-top: 10px;
}
#title{
  font-weight: 700;
  margin-top:5%;
  margin-bottom:5px;
  padding-top:0%;
  padding-left:30%;
  padding-right:30%;
  padding-bottom:5px;
  text-align: center;
  font-size: 48px;
}
h2#education{
  margin-top:0%;
  margin-bottom:5%;
  padding-top:0%;
  padding-left:30%;
  padding-right:30%;
  padding-bottom:5px;
  text-align: center;
}

h3#intro{
  font-size:1em;
  margin-top:0%;
  margin-bottom:0%;
  padding-top:0%;
  padding-left:30%;
  padding-right:30%;
  padding-bottom:5%;
}

#links{
  text-align:left;
  font-size:1em;
  margin-top:0%;
  margin-bottom:0%;
  padding-top:5%;
  padding-left:30%;
  padding-right:30%;
  padding-bottom:5%;

}

a:link{
  
  color:rgb(95, 109, 136);
  text-decoration: underline;
}
a:visited{
  color:rgb(95, 109, 136);
}